.body {
  background-color: $main-color;

  &__wrap {

    @media (min-width: 1120px) {
      display: flex;
      margin: 0 auto;
      max-width: 1120px;
      width: 100%; 
    


      
    }

    @media (min-width: 1440px) {
      display: flex;
      margin: 0 auto;
      max-width: 1440px;
      width: 100%;
    }
  }
}
